<h2>Show Following</h2>

<ul>

  <li>
    <strong>Email me:</strong>
    <%= @following.email_me %>
  </li>

  <li>
    <strong>Email owner:</strong>
    <%= @following.email_owner %>
  </li>

</ul>

<span><%= link "Edit", to: following_path(@conn, :edit, @following) %></span>
<span><%= link "Back", to: following_path(@conn, :index) %></span>
